/* custom GTK3 CSS for Geany */

/* make close button on the editor's tabs smaller */
#geany-close-tab-button {
	padding: 0;
}
#geany-close-tab-button GtkImage /* GTK < 3.20 */,
#geany-close-tab-button image /* GTK >= 3.20 */ {
	padding: 0;
}

/* use monospaced font in search entries for easier reading of regexp (#1907117) */
#GeanyDialogSearch GtkEntry /* GTK < 3.20 */,
#GeanyDialogSearch entry /* GTK >= 3.20 */ {
	font-family: monospace;
}

/* set red background for GtkEntries showing unmatched searches */
#geany-search-entry-no-match {
	color: #fff;
	background: #ff6666;
}
#geany-search-entry-no-match:selected /* GTK < 3.20 */,
#geany-search-entry-no-match selection /* GTK >= 3.20 */ {
	background-color: #771111;
}

/* document status colors */
#geany-document-status-changed {
	color: #ff0000;
}
#geany-document-status-disk-changed {
	color: #ff7f00;
}
#geany-document-status-readonly {
	color: #007f00;
}

/* compiler message colors */
#geany-compiler-error {
    color: #ff0000;
}
#geany-compiler-context {
    color: #7f0000;
}
#geany-compiler-message {
    color: #00D000;
}

/* red "Terminal" label when terminal dirty */
#geany-terminal-dirty {
	color: #ff0000;
}
